.course {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__box {
        position: relative;
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        width: 35rem;
        margin: 2rem;
        border: 0.1rem solid $color-white-f1;
        border-radius: 0.5rem;
        @media only screen and (max-width: 375px) {
            width: 100%;
        }
    }

    // Header
    &__header {
        position: relative;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba($color-gray, 0.7);
            transform: scale(0);
            transition: all 0.3s ease-in-out;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }

        &:hover {
            &::after {
                transform: scale(1);
            }
            & .course__details-link {
                left: 1.8rem;
                opacity: 1;
            }
            & .course__social-media i {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
    &__details-link {
        position: absolute;
        top: 1rem;
        left: 1rem;
        z-index: 1;
        color: $color-white;
        opacity: 0;
        transition: all 0.2s ease-in-out;
        &:hover {
            color: $color-gray-9;
        }
    }
    &__social-media {
        position: absolute;
        bottom: 0;
        z-index: 1;
        display: flex;
        width: 100%;
        & i {
            padding: 1rem;
            color: $color-white;
            font-size: 2rem;
            opacity: 0;
            transform: scale(1.7);
            transition: all 0.3s linear;
            &:hover {
                color: $color-orange1;
            }
        }
        & :nth-child(2) {
            margin-right: auto;
        }
    }
    &__img {
        display: block;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }
    // Body
    &__body {
        padding: 1rem;
    }
    &__details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & i {
            font-size: 1.7rem;
            margin-left: 1rem;
            color: $color-blue2;
        }
    }
    &__tags {
        display: flex;
        justify-content: center;
        @media only screen and (max-width: 576px) {
            flex-direction: column;
            width: 100%;
        }
    }
    &__tag {
        position: relative;
        padding: 0.7rem;
        margin: 1.5rem 0 0 1.6rem;
        white-space: nowrap;
        font-size: 1.2rem;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        & a {
            color: $color-white;
            &:hover {
                color: $color-white-f1;
            }
        }
        &::before {
            content: "";
            position: absolute;
            top: 1.3rem;
            left: -0.8rem;
            z-index: 1;
            width: 0.7rem;
            height: 0.7rem;
            background-color: $color-white;
            border-radius: 50%;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: -2.4rem;
            border-color: transparent;
            border-style: solid;
            border-width: 1.6rem 1.4rem 1.7rem 1rem;
        }
        &--blue {
            background-color: $color-blue2;
            &::after {
                border-right-color: $color-blue2;
            }
        }
        &--green {
            background-color: $color-green2;
            &::after {
                border-right-color: $color-green2;
            }
        }
        &--orange {
            background-color: $color-orange1;
            &::after {
                border-right-color: $color-orange1;
            }
        }
    }
    // Footer
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        border-top: 0.1rem solid $color-white-f1;
        @media only screen and (max-width: 576px) {
            flex-direction: column;
            width: 100%;
        }
    }
    &__price {
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: $color-white-f1;
    }
    &__stars {
        display: flex;
        justify-content: center;
        align-items: center;
        direction: ltr;
    }
    &__star {
        color: goldenrod;
        font-size: 2rem;
        cursor: pointer;
        transition: all 0.2s ease;
        &:hover ~ .course__star {
            color: $color-gray-9;
        }
    }
    &__resault {
        margin: 0.2rem;
        padding: 0.5rem;
    }
    // Ribbon
    &__ribbon {
        position: absolute;
        top: 1.5rem;
        right: -1rem;
        z-index: 1;
        width: 10rem;
        height: 5rem;
        overflow: hidden;
        pointer-events: none;
        &::after {
            content: "";
            position: absolute;
            top: 3.5rem;
            right: 0;
            border: 0.5rem solid $color-orange2;
            border-bottom-color: transparent;
            border-right-color: transparent;
        }
    }
    &__ribbon-text {
        position: absolute;
        top: 0;
        z-index: 2;
        width: 100%;
        padding: 0.6rem 0;
        background-color: $color-orange1;
        color: $color-white;
        text-align: center;
        border-radius: 0.5rem;
        border-bottom-right-radius: 0;
        box-shadow: 0 0 0.8rem rgba($color-gray, 0.3);
    }
}
