$base-path: '../';

$font-stack: "vazir", Verdana, Geneva, Tahoma, sans-serif;

$color-white: #ffffff;
$color-white2: #edfcff;
$color-white-f1: #f1f1f1;

$color-blue1: #0d62da;
$color-blue2: #457b9d;
$color-blue3: #2196f3;

$color-green1: #d3f4f2;
$color-green2: #409b95;

$color-orange1: #e76f51;
$color-orange2: #d35400;
$color-orange3: #993e01;

$color-gray: #444444;
$color-gray-c: #cccccc;
$color-gray-7: #777777;
$color-gray-9: #999999;

$gradient-navbar: conic-gradient(#98d6f3, #fea2b1, #f7f1fa, #98d6f3);

$orange-gradient: -45deg, #e26f4c 0%, #dcc185 100%;
$blue-gradient: -45deg, #85b9dd 0%, #bbd7e9 100%;
$pink-gradient: -45deg, #fd8ba6 0%, #bd88ec 100%;
$purple-gradient: to right, rgba(196, 136, 229, 0.5), rgba(113, 185, 221, 0.5);


$cubic-bezier: cubic-bezier(0.58, -0.29, 0.36, 1.26);
