$base-path: '../';

$font-stack: "vazir", Verdana, Geneva, Tahoma, sans-serif;

$color-white: #ffffff;
$color-white2: #edfcff;
$color-white-f1: #f1f1f1;

$color-blue1: #0d62da;
$color-blue2: #457b9d;
$color-blue3: #2196f3;

$color-green1: #d3f4f2;

$color-orange1: #e76f51;
$color-orange2: #d35400;
$color-orange3: #993e01;

$color-gray: #444444;
$color-gray-c: #cccccc;
$color-gray-7: #777777;
$color-gray-9: #999999;

$gradient-navbar: conic-gradient(#98d6f3, #fea2b1, #f7f1fa, #98d6f3);

$cubic-bezier: cubic-bezier(0.58, -0.29, 0.36, 1.26);